<main>
    <div class="team">
        <h2>EQUIPO</h2>
        <p>Metanimation es una plataforma desarrollada por talentosos estudiantes que se dedica a proporcionar información y recursos relacionados con las experiencias inmersivas. Nuestro objetivo es satisfacer la creciente demanda de contenido en este campo, ofreciendo desde noticias actualizadas hasta cursos especializados. Nos comprometemos a impulsar el conocimiento y la creatividad en las tecnologías inmersivas, y esperamos que te unas a nosotros en esta emocionante aventura.
        </p>
        <img src="https://videojuegos.roams.es/images/post/es_ES_videogames/rankings-mejores-juegos-nft.jpg">
</div>

<div class="members">
    <div class="info-members">
        <img src="../../../assets/team/correa.jpeg">
        <hr>
        <h4>Juan Correa</h4>
        <h5>FRONT END</h5>
    </div>
    <div class="info-members">
        <img src="../../../assets/team/diana.jpeg">
        <hr>
        <h4>Diana Moya</h4>
        <h5>BACKEND</h5>
    </div>
    <div class="info-members">
        <img src="../../../assets/team/vanne.jpeg">
        <hr>
        <h4>Vanessa Mosquera</h4>
        <h5>FRONT END</h5>
    </div>
    <div class="info-members">
        <img src="../../../assets/team/gian.jpeg">
        <hr>
        <h4>Gian Bolaños</h4>
        <h5>BACKEND</h5>
    </div>
    <div class="info-members">
        <img src="../../../assets/team/jose.jpeg">
        <hr>
        <h4>Jose Gallego</h4>
        <h5>TESTING</h5>
    </div>
</div>

</main>
