<main>
    <div class="team">
        <h2>EQUIPO</h2>
        <p>En Metanimation, el equipo de trabajo está compuesto por un grupo de talentosos estudiantes que, a través de sus habilidades y conocimientos adquiridos, han logrado desarrollar esta plataforma única. Al darse cuenta de la creciente necesidad de acceder a información y contenido relacionado con experiencias inmersivas, se propusieron crear un espacio donde las personas pudieran encontrar recursos valiosos en este fascinante campo.
        </p>
        <img src="https://videojuegos.roams.es/images/post/es_ES_videogames/rankings-mejores-juegos-nft.jpg">
</div>

<div class="members">
    <div class="info-members">
        <img src="../../../assets/team/correa.jpeg">
        <hr>
        <h4>Juan Correa</h4>
        <h5>FRONT END</h5>
    </div>
    <div class="info-members">
        <img src="../../../assets/team/diana.jpeg">
        <hr>
        <h4>Diana Moya</h4>
        <h5>BACKEND</h5>
    </div>
    <div class="info-members">
        <img src="../../../assets/team/vanne.jpeg">
        <hr>
        <h4>Vanessa Mosquera</h4>
        <h5>FRONT END</h5>
    </div>
    <div class="info-members">
        <img src="../../../assets/team/3135823.png">
        <hr>
        <h4>Gian Bolaños</h4>
        <h5>BACKEND</h5>
    </div>
    <div class="info-members">
        <img src="../../../assets/team/jose.jpeg">
        <hr>
        <h4>Jose Gallego</h4>
        <h5>TESTING</h5>
    </div>
</div>

</main>
