<app-nav></app-nav>
<main>
  <!--BUSQUEDA DE PROFESIONALES -->
  <div class="professional-search">
    <h3>PUBLIICDAD MODERNA CREATIVA Y EXPERIENCIA DIGITAL</h3>
    <p>Suscribete para recibir lanzamientos, descuentos y contenido del mundo de la inmersidad</p>
    <input type="text" placeholder="¿Que quieres buscar?">
  </div>
  <section class="option-prof">
    <!--
  <div class="option" *ngFor="let categoria of categorias" (click)="obtenerCategorias()">
    <button>{{categoria.nombre}}<img src="../../../assets/portafolio/rojo.png"></button>
  </div>
  -->
    <!--<img src="../../../assets/new/ArrowR.png">-->
  </section>
<!--OPCIONES Y FILTRO DE PROFESIONALES-->

  <div class="filter-professional">
    <button>Reciente</button>
    <button (click)="toggleButton(8)" [ngClass]="{'continue': isActive[8]}">
      <img *ngIf="!isActive[8]" src="">
      {{isActive[8] ? 'Siguiendo!' : ''}}
  </button>
    <hr>    <hr>
    <button></button>
    <p></p>
    <a routerLink='/briefcase'><button>Proyectos</button></a>
    <a routerLink='/briefcase-project'><button id="btns">Artistas</button></a>
    <button id="filt"></button>
  </div>
  <section><hr></section>
  <!--PERFIL PROFESIONALES -->
  <div class="professional-profile">
    <section *ngFor="let project of allProject">
      <img routerLink="/detailsBriefcase" [queryParams]="{id: project.IdProject}" [src]="project.ImgProject" alt="Imagen del proyecto">
      <h6 routerLink="/detailsBriefcase">{{project.NameProject}}</h6>
      <p class="description">{{project.DescriptionProject}}</p>
      <label>
        <img [src]="'../../../assets/profile/' + project.ImgPerfil" alt="Imagen de perfil">
        <h3 routerLink='/profile-artist' [queryParams]="{id: idusers}">{{project.PersonFullName}}</h3>
        <button [ngClass]="{'continue': isActive[0]}">
          <img *ngIf="!isActive[0]" src="../../../assets/portafolio/Seguir.png">
          {{isActive[0] ? 'Siguiendo!' : 'Seguir'}}
        </button>
        <div>
          <img *ngIf="counters[0] > 0" src="../../../assets/portafolio/Heart-follow.png">
          <img *ngIf="counters[0] === 0" src="../../../assets/portafolio/Heart-nofollow.png">
          <button> {{counters[0]}} </button>
        </div>
      </label>
    </section>
    
  </div>
</main>
<app-footer></app-footer>
