<app-nav></app-nav>
<main>
  <!--BUSQUEDA DE PROFESIONALES -->
  <div class="professional-search">
    <h3>PUBLIICDAD MODERNA CREATIVA Y EXPERIENCIA DIGITAL</h3>
    <p>Suscribete para recibir lanzamientos, descuentos y contenido del mundo de la inmersidad</p>
    <input type="text" placeholder="¿Que quieres buscar?">
  </div>
  <!--
  <section class="option-prof">
    <button>Arte digital <img src="../../../assets/portafolio/rojo.png"></button>
    <button>Arte digital <img src="../../../assets/portafolio/azul.png"></button>
    <button>3d artista <img src="../../../assets/portafolio/rojo.png"></button>
    <button>Arte digital <img src="../../../assets/portafolio/morado.png"></button>
    <button>Programador<img src="../../../assets/portafolio/azul.png"></button>
    <img src="../../../assets/new/ArrowR.png">
  </section>
  -->
  <!--OPCIONES Y FILTRO DE PROFESIONALES-->
  <div class="filter-professional">
    <button>Reciente</button>
    <hr>
    <button><img src=""></button>
    <hr>
    <button></button>
    <p></p>
    <a routerLink='/briefcase'><button>Proyectos</button></a>
    <a routerLink='/briefcase-project'><button id="btns">Artistas</button></a>
    <button id="filt"><img src=""></button>
  </div>
  <a>
    <hr>
  </a>
  <div class="conteiner">
    <div class="profile-conteiner" *ngFor="let artistAll of allArtist">
      <section>
        <div class="info-person">
          <div class="person">
            <div class="person-perfil">
              <img [src]="'../../../assets/profile/' + artistAll.ImgPerfil " alt="Imagen de perfil">
              <hr>
            </div>
            <label>
              <h5 routerLink='/profile-artist' [queryParams]="{id: artistAll.IdUsuario}">{{artistAll.PersonFullName}}</h5>
              <h3>{{artistAll.Ocupation}}</h3>
              <hr>
              <p><img src="../../../assets/portafolio/ubicacion.png">{{artistAll.Ubication}}</p>
            </label>
          </div>
        </div>
        <!--
        <label>
          <button>Arte digital <img src="../../../assets/portafolio/azul.png"></button>
          <button>3d Artistas<img src="../../../assets/portafolio/morado.png"></button>
        </label>
        -->
        <hr>
        <p class="description">{{artistAll.DescriptionPerson}}</p>
      </section>
      <hr id="galery-hr">
      <section class="galery">
        <img *ngFor="let img of getProcessedImages(artistAll.ImgsProject)"
          [src]="'../../../assets/portafolio/pj/' + img" alt="Imagen de proyecto">
      </section>
      
    </div>
  </div>

</main>
<app-footer></app-footer>