<main>
    <div class="news">
        <label>
            <h2>NOTICIAS</h2>
            <p>
                Un universo fascinante de información sobre el futuro inmersivo y las tecnologías emergentes que están moldeando nuestra realidad. 
                </p>
        </label>
        <section>
            <p>Encuentra un faro de conocimiento que iluminará tu camino en el universo en constante evolución del futuro inmersivo.</p>
            <button> <a routerLink='/news'>Ver todas las noticias</a></button>
            <hr>
        </section>
    </div>
        <div class="new-conteiner">
            <section>
                <h5><img src="../../../assets/new/Punto_verde.png"> Noticias</h5>
                <section>
                <h4>CAT 3D</h4>
                <p>Tecnología revolucionaria que permite interactuar con gatos en entorno virtual 3D.</p>
                <button><a routerLink='/news'>Ver noticia</a> <img src="../../../assets/new/ArrowR.png"></button>
                </section>
            </section>
            <div>
                <section>
                    <h5><img src="../../../assets/new/Punto_verde.png"> Noticias</h5>
                    <section class="sombra">
                    <h4>NFT BARSA</h4>
                    <p>revoluciona el arte digital con su plataforma de intercambio de NFT y apoyo a artistas</p>
                    <button><a routerLink='/news'>Ver noticias</a> <img src="../../../assets/new/ArrowR.png"></button>  
                    </section>
                </section>
                <section id="new" >
                    <h5><img src="../../../assets/new/Punto_verde.png"> Noticias</h5>
                    <section class="sombra">
                    <h4>NFT Mas Vendido</h4>
                    <p>La beta de Halo infinite ya tiene fecha y evento de presentación.</p>
                    <button><a routerLink='/news'>Ver noticias</a> <img src="../../../assets/new/ArrowR.png"></button>
                    </section>
                </section>
            </div>
            <button class="btn-l"> <img src="../../../assets/new/Arrow_L.png"></button>
            <button class="btn-r"> <img src="../../../assets/new/ArrowR.png"></button>
        </div>
    <hr>
</main>