<app-nav></app-nav>
<main>
  <div class="info-profile">
    <div class="people">

      <div (drop)="onFilesDropped($event)" (dragover)="preventDefault($event)">
        <img [src]="ImgPerfil ? '../../../assets/profile/' + ImgPerfil : ''" alt="Foto de perfil" />
        <input id="fileInput" type="file" style="display: none" (change)="onFileSelected($event)">
        <button *ngIf="mostrarBotonGuardar">Cargar imagen</button>
        <!--<button (click)="habilitarEdicion()">Editar perfil </button>-->
      </div>
      <hr>
      <h5>{{PersonName}} {{PersonLastName}}</h5>
      <h3><input type="text" [(ngModel)]="ocupacion" [disabled]="!campoHabilitado" placeholder="Ingresa tu Ocupación"></h3>
      <p>Yo soy:</p>
      <textarea [(ngModel)]="description" [disabled]="!campoHabilitado" placeholder="Ingresa la información de tu perfil profesional"></textarea>
      <label>
        <img src="../../../assets/portafolio/ubicacion.png">
        <select [(ngModel)]="ubicacion" [disabled]="!campoHabilitado">
          <option value="" disabled selected>Selecciona tu ubicación</option>
          <option value="Bogotá">Bogotá</option>
          <option value="Medellín">Medellín</option>
          <option value="Barranquilla">Barranquilla</option>
          <option value="Cartagena">Cartagena</option>
          <option value="Bucaramanga">Bucaramanga</option>
          <option value="Cúcuta">Cúcuta</option>
          <option value="Pereira">Pereira</option>
          <option value="Santa Marta">Santa Marta</option>
          <option value="Ibagué">Ibagué</option>
          <option value="Villavicencio">Villavicencio</option>
          <option value="Pasto">Pasto</option>
          <option value="Manizales">Manizales</option>
          <option value="Neiva">Neiva</option>
          <option value="Armenia">Armenia</option>
        </select>        <button *ngIf="mostrarBotonGuardar">Guardar</button>
      </label>
      <!--<section>
        <button>Arte digital <img src="../../../assets/portafolio/rojo.png"></button>
        <button>Arte digital <img src="../../../assets/portafolio/azul.png"></button>
        <button>3d artista <img src="../../../assets/portafolio/rojo.png"></button>
      </section> -->
    </div>
    <div class="project">
      <article>
        <h2>{{ProjectCount}}</h2>
        <h4>Proyectos Creados</h4>
        <h5>Por: <strong>{{nameUsers}}</strong></h5>
        <button>Software y herramientas utilizadas</button>
      </article>
      <section>
        <div class="tools" *ngIf="mostrarComponente[0]">
          <h6>Software y herramientas utilizadas:</h6>
          <label>
              <textarea [(ngModel)]="tools" [disabled]="!campoHabilitado" placeholder="Ingresa la información de tu perfil profesional"></textarea>
            </label>
        </div>
      </section>
    </div>
  <div class="info-person">
    <div class="person-details"> 
    <h5>{{nameUsers}}</h5>
    <section>
      <h4>Mi información</h4>
      <!--
      <p><strong>{{likes}}</strong> likes</p>
      <p><strong>{{followers}}</strong> seguidores</p>
      <p><strong>{{followed}}</strong> seguidos</p>
      -->
    </section>
    <!--
    <button id="seguir">+ Seguir</button>
    <button id="mensaje">Mensaje <img src="../../../assets/cursos/enviar.png"></button>
    -->
    <button (click)="toggleComponent(1)">Redes y comentarios</button>
  </div>
  <section *ngIf="mostrarComponente[1]">
    <h6>Email y Telefonos</h6>
    <section class="form" >
      <p>
        <img src="../../../assets/profile/llamada.png">
        <input type="number" [(ngModel)]="telefono" [disabled]="!campoHabilitado" placeholder="Ingresa tu télefono">
      </p>
      <p>
        <img src="../../../assets/profile/mensaje.png">
        <input type="email" [(ngModel)]="correo" [disabled]="true">
      </p>
      <h6>Redes:</h6>
      <p>
        <img src="../../../assets/profile/facebook.png">
        <input type="text" [(ngModel)]="facebook" [disabled]="!campoHabilitado" placeholder="Ingresa tu dirección de Facebook">
      </p>
      <p>
        <img src="../../../assets/profile/instagram.png">
        <input type="text" [(ngModel)]="instagram" [disabled]="!campoHabilitado" placeholder="Ingresa tu dirección de Instagram">
      </p>
      <p>
        <img src="../../../assets/profile/youtube.png">
        <input type="text" [(ngModel)]="youtube" [disabled]="!campoHabilitado" placeholder="Ingresa tu dirección de Youtube">
      </p>
    </section>  
  </section>
  </div>
</div>
<div class="professional-profile">
  <section *ngFor="let project of detailsProject">
    <img  routerLink="/detailsBriefcase" [queryParams]="{id: project.IdProject}" [src]=" '../../../assets/portafolio/pj/' + project.ImgProject" alt="Imagen del proyecto">
    <section>
      <h6>{{ project.NameProject }}</h6>
      <p class="description">{{ project.DescriptionProject }}</p>
     </section>
    <!--
    <div>
      <img *ngIf="project.ProjectCount > 0" src="../../../assets/portafolio/Heart-follow.png">
      <img *ngIf="project.ProjectCount === 0" src="../../../assets/portafolio/Heart-nofollow.png">
      <button (click)="toggleFavorite(project.ProjectCount)">{{ project.ProjectCount }}</button>
    </div>
    -->
  </section>
  
</div>
<!--
<div class="option">
<button><img src="../../../assets/portafolio/seguidor.png">Siguiendo</button>
<hr>
<button>Reciente</button>
<hr>
<button>Popular</button>
<hr>
<button id="filter"><img src="../../../assets/portafolio/filtro.png">Filtro</button>
</div>
-->
</main>
<app-footer></app-footer>
