<app-nav></app-nav>
<main>
    <div class="profile">
      <section>
        <label>
          <img [src]="'../../../assets/profile/' + imgPerfil " alt="Imagen de perfil">
          <!--<img id="guardar" src="../../../assets/portafolio/guardar.png">-->
        </label>
      </section>
      <section>
        <h6></h6>
        <h4>{{nameProject}}</h4>
        <button (click)="toggleButton(0)" [ngClass]="{'continue': isActive[0]}">
          <img *ngIf="!isActive[0]" src="../../../assets/portafolio/Seguir.png">
          {{isActive[0] ? 'Siguiendo!' : 'Seguir'}}
      </button>
      <div class="follow">
        <img *ngIf="counters[0] > 0" src="../../../assets/portafolio/Heart-follow.png">
        <img *ngIf="counters[0] === 0" src="../../../assets/portafolio/Heart-nofollow.png">
        <button (click)="toggleFavorite(0)"> {{counters[0]}} </button>
    </div>
      </section>
      <p></p>
      <div class="info-person">
        <div class="person">
          <div class="person-perfil">
            <img [src]="'../../../assets/profile/' + imgPerfil " alt="Imagen de perfil">
            <hr>
            <p></p>
          </div>
          <label>
            <h5>{{nameuser}}</h5>
            <h3>{{ocupation}}</h3>
            <hr>
            <p><img src="../../../assets/portafolio/ubicacion.png">{{ubication}}</p>   
          </label>
        </div>
      </div>
    </div>
    <div>
      <div class="details-brice">
        <section>
          <img [src]="'../../../assets/portafolio/pj/' + imgProject[0]" alt="Imagen de proyecto">
        </section>
        <section>
          <button><img src="../../../assets/portafolio/Heart-follow.png"></button>
          <button><img src="../../../assets/portafolio/Heart-nofollow.png"></button>
          <button><img src="../../../assets/cursos/fleca.png"></button>
          <h5>Descripcion del proyecto:</h5>
          <p>{{descriptionProject}}</p>
          <u></u>
          <hr>
          <h5>Herramientas Usadas</h5>
          <div class="software-us">
            <label *ngFor="let tool of toolNames">
              <p>{{ tool }}</p>
            </label>
          </div>
          
          <hr>
          <!--
          <div class="btn-course">
            <button>Diseño<img src="../../../assets/portafolio/azul.png"></button>
            <button>3d artista<img src="../../../assets/portafolio/morado.png"></button>
            <button>Arte digital<img src="../../../assets/portafolio/rojo.png"></button>
            <button>Programador<img src="../../../assets/portafolio/azul.png"></button>
          </div>
          -->
        </section>
      </div>
    </div>
    <div class="img-project" *ngFor="let img of imgProject.slice(1)">
      <img [src]="'../../../assets/portafolio/pj/' + img" alt="Imagen de proyecto">
    </div>
    
    
      <div class="project-similar">
        <section>
          <img src="">
          <p>Otros Proyectos</p>
          <hr>
        </section>
        <!--
        <section class="option-prof">
          <button>Arte digital <img src="../../../assets/portafolio/rojo.png"></button>
          <button>Arte digital <img src="../../../assets/portafolio/azul.png"></button>
          <button>3d artista <img src="../../../assets/portafolio/rojo.png"></button>
          <button>Arte digital <img src="../../../assets/portafolio/morado.png"></button>
          <button>Programador<img src="../../../assets/portafolio/azul.png"></button>
        </section>
        -->
        <div class="project-profile">
          <section class="profile-project" *ngFor="let project of project.slice(0, 3)">
            <img [src]="'../../../assets/portafolio/pj/' +project.ImgProject" alt="Imagen del proyecto">
            <h6></h6>
            <h4>{{project.NameProject}}</h4>
            <label>
              <img [src]="'../../../assets/profile/' + project.ImgPerfil" alt="Imagen de perfil">
              <h3>{{project.PersonFullName}}</h3>
              <button [ngClass]="{'continue': isActive[1]}">
                <img *ngIf="!isActive[1]" src="../../../assets/portafolio/Seguir.png">
                {{isActive[1] ? 'Siguiendo!' : 'Seguir'}}
              </button>
              <div class="follow">
                <img *ngIf="counters[1] > 0" src="../../../assets/portafolio/Heart-follow.png">
                <img *ngIf="counters[1] === 0" src="../../../assets/portafolio/Heart-nofollow.png">
                <button> {{counters[1]}} </button>
              </div>
            </label>
          </section>
          
      </div>
      </div>
</main>
<app-footer></app-footer>
