<main>
    <img class="logo" src="../../../assets/logo.png">
    <div class="us">
        <div class="linea">&nbsp;</div>
        <h3>CON</h3>
        <div class="linea">&nbsp;</div>
    </div>
    <h4>DESCUBRE EL FUTURO INMERSIVO</h4> 
    <h5></h5>
    <h2>METANIMATION</h2>
<div class="us-parrafo">
    <p>Fuente confiable de información y recursos en el fascinante mundo de las tecnologías inmersivas e interactivas. Nuestra plataforma web informativa se dedica a explorar y compartir las últimas tendencias y avances en realidad virtual, realidad aumentada, realidad mixta y más. Con un enfoque integral, ofrecemos tres módulos fundamentales para satisfacer tus necesidades. </p>
    <p>Plataforma líder en tecnologías inmersivas, dedicada a explorar y difundir las últimas tendencias en realidad virtual, realidad aumentada y realidad mixta. Su portal ofrece noticias actualizadas en diferentes formatos, una amplia variedad de cursos impartidos por expertos y la posibilidad de exhibir y compartir el trabajo de profesionales a través de un portafolio..</p>
</div>
</main>