<main>
    <img class="logo" src="../../../assets/logo.png">
    <div class="us">
        <div class="linea">&nbsp;</div>
        <h3>NOSOTROS</h3>
        <div class="linea">&nbsp;</div>
    </div>
    <h4>DESCUBRE EL FUTURO INMERSIVO</h4> 
    <h5>CON</h5>
    <h2>METANIMATION</h2>
<div class="us-parrafo">
    <p>Descubre el futuro inmersivo con Metanimation, una plataforma donde convergen la tecnología y la creatividad para dar vida a experiencias únicas y transformadoras. A través de esta innovadora propuesta, podrás sumergirte en mundos virtuales fascinantes, explorar narrativas interactivas y disfrutar de contenido audiovisual de vanguardia. Metanimation te invita a experimentar lo inimaginable, rompiendo barreras y transportándote a realidades alternativas donde tus sentidos se despiertan y tu imaginación se expande. </p>
    <p>Con tecnologías de vanguardia como realidad virtual, realidad aumentada y animación, Metanimation redefine los límites de lo posible y te invita a formar parte de una revolución creativa sin precedentes. Descubre el futuro inmersivo con Metanimation y prepárate para vivir una experiencia que trasciende los límites de lo convencional.</p>
</div>
</main>